<article>
  <h1>查询单号</h1>

  <section class="search-input">
    <input type="text" [(ngModel)]="number" (keyup)="validateNumber()" name="number" placeholder="请输入10位快递单号" />
    <button (click)="searchNumber()">搜索</button>
    <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
  </section>

  <section class="search-tracking-list" *ngIf="trackingList.length !== 0">
    <ul>
      <li *ngFor="let tracking of trackingList">
        <span class="tracking-date">{{tracking?.date}}</span>
        <strong class="tracking-status">{{tracking?.status}}</strong>
      </li>
    </ul>
  </section>
</article>
